* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

.restaurant {
  display: flex;
}

.leftSide-restaurant {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100vh;
  row-gap: 5%;
  padding-top: 3%;
}

.leftSide-restaurant span {
  font-weight: bold;
  cursor: pointer;
}

.leftSide-restaurant span:hover {
  color: white;
}

.leftSide-restaurant span:active {
  color: gray;
}

.rightSide-restaurant {
  width: 80%;
  height: 100vh;
}

.restaurantDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.restaurantDetails {
  width: 40%;
  height: 80%;
  padding: 3% 5%;
  border: 2px solid black;
  border-radius: 3%;
  box-shadow: 1px 5px 5px 2px gray;
}

.productDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.productDetails {
  width: 40%;
  height: 85%;
  padding: 3% 5%;
  border: 2px solid black;
  border-radius: 3%;
  box-shadow: 1px 5px 5px 2px gray;

}